@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
/* index.css */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}


/* index.css or input.css if separated */

